.container {
  margin-left: 22%;
  padding: 20px;
  margin-right: 30%;
  margin-top: 95px;
  position: relative;
  height: 100%;
  top: 0;
  width: 70%;
  left: 0;
  overflow: hidden;
}

.search-container {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.card {
  margin-bottom: 20px;
}

.card-subtitle {
  padding: 5px 10px;
  background-color: darkgoldenrod;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 2%;
  color: white;
}

.instructor-info {
  color: white;
  font-size: large;
  margin-bottom: 4%;
}

.visit-btn a {
  background-color: #2b779b;
  width: 100%;
}

.visit-btn a i {
  margin-right: 5px;
}

.icon-margin {
  margin-left: 5px;
  margin-right: 5px;
}

.custom-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #0056b3;
}

.custom-button:disabled {
  background-color: #da3a3a;
  color: #ffffff;
  cursor: not-allowed;
}



.selected-courses-container {
  margin-top: 20px;
}

.payment-list-container {
  border: 1px solid #ccc;
  padding: 10px;
}

.list-group-item {
  position: relative; /* To position the remove button */
  padding-right: 40px; /* Space for the remove button */
}

.btn-remove {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: #f44336; /* Red color for the remove button */
  color: #fff; /* Text color for the remove button */
  border: none;
}

.btn-remove:hover {
  background-color: #d32f2f; /* Darker red color on hover */
}


.odd-item {
  background-color: #b6c2c1; /* Light gray background color for even items */
}

.even-item {
  background-color: #f38d8d; /* Lighter gray background color for odd items */
}


.button-group {
  display: flex;
  align-items: center;
}

.button-group button {
  margin-right: 10px; /* Adjust as needed */
}

.custom-button {
  flex: 1;
  margin-right: 10px; /* Adjust as needed */
}


.fas .fa-times {
  background-color: red;
}