<div class="content">
  <div class="heading">
    <h1>Bienvenue dans la Plate-forme d'apprentissage</h1>
    <div class="subtitle">
      <p>Découvrez un monde d'apprentissage interactif et engageant</p>
      <div class="decorative-line"></div>
    </div>
  </div>

  <div class="dashboard-cards">
    <div class="dashboard-card user-count">
      <i class="fas fa-users"></i>
      <h3>50 Utilisateurs inscrits</h3>
    </div>

    <div class="dashboard-card trainer-count">
      <i class="fas fa-chalkboard-teacher"></i>
      <h3>50 formateurs inscrits</h3>
    </div>

    <div class="dashboard-card course-count">
      <i class="fas fa-book"></i>
      <h3>50 cours existants</h3>
    </div>

    <div class="dashboard-card registration-count">
      <i class="fas fa-clipboard-check"></i>
      <h3>50 inscriptions faites par 20 apprenants</h3>
    </div>

    <div class="dashboard-card detailed-course-count">
      <i class="fas fa-list-alt"></i>
      <h3>50 cours avec des chapitres détaillés</h3>
    </div>

    <div class="dashboard-card favorites">
      <i class="fas fa-heart"></i>
      <h3>Favoris</h3>
    </div>
  </div>
</div>
