<div class="container register">
    <div class="row">
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link nav1" id="home-tab" data-toggle="tab" data-target="#home" role="tab"
                        aria-controls="home" aria-selected="true">Utilisateur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav2" id="profile-tab" data-toggle="tab" role="tab" aria-controls="profile"
                        aria-selected="false">Formateur</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Inscription utilisateur</h3>
                    <small class="text-danger"><b>{{msg}}</b></small>
                    <form #userform="ngForm" (ngSubmit)="registerUser()">
                        <div class="row register-form">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="username *" name="username"
                                        [(ngModel)]="user.username" required #username="ngModel"
                                        [class.is-invalid]="username.invalid && username.touched" pattern="[a-zA-Z0-9_-]{3,16}">
                                    <small class="text-danger"
                                        [class.d-none]="username.valid || username.untouched"><b>Champ
                                            obligatoire et doit etre unique et contient des chiffres et des</b></small>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom et prénom *" name="fullName"
                                        [(ngModel)]="user.fullName" required #fullName="ngModel"
                                        [class.is-invalid]="fullName.invalid && fullName.touched">
                                    <small class="text-danger"
                                        [class.d-none]="fullName.valid || fullName.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>


                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Genre *" name="usergender"
                                        [(ngModel)]="user.gender" required #usergender="ngModel"
                                        [class.is-invalid]="usergender.invalid && usergender.touched">
                                    <small class="text-danger"
                                        [class.d-none]="usergender.valid || usergender.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Poste *" name="userprofession"
                                        [(ngModel)]="user.profession" required #userprofession="ngModel"
                                        [class.is-invalid]="userprofession.invalid && userprofession.touched">
                                    <small class="text-danger"
                                        [class.d-none]="userprofession.valid || userprofession.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Mot de passe *" name="pwd"
                                        [(ngModel)]="user.password" required #userpassword="ngModel"
                                        [class.is-invalid]="userpassword.invalid && userpassword.touched">
                                    <div *ngIf="userpassword.errors && userpassword.invalid && userpassword.touched">
                                        <small class="text-danger" *ngIf="userpassword.errors.required"><b>Champ
                                                obligatoire</b></small>
                                    </div>
                                    <small style="color: gray; font-size: 10px;">au moins une majuscule, un chiffre
                                        numérique, une minuscule, un caractère spécial, d'une longueur de 6 à 20</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email *" name="useremail"
                                        [(ngModel)]="user.email" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
                                        #useremail="ngModel"
                                        [class.is-invalid]="useremail.invalid && useremail.touched">
                                    <div *ngIf="useremail.errors && (useremail.invalid && useremail.touched)">
                                        <small class="text-danger" *ngIf="useremail.errors.required"><b>Champ
                                                obligatoire</b></small>
                                        <small class="text-danger" *ngIf="useremail.errors.pattern"><b>Email
                                                invalid</b></small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="tel" maxlength="8" minlength="8" class="form-control"
                                        placeholder="télephone *" name="usermobile" [(ngModel)]="user.phoneNumber"
                                        required #phoneNumber="ngModel"
                                        [class.is-invalid]="phoneNumber.invalid && phoneNumber.touched">
                                    <small class="text-danger"
                                        [class.d-none]="phoneNumber.valid || phoneNumber.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="addresse *" name="useraddress"
                                        [(ngModel)]="user.address" required #useraddress="ngModel"
                                        [class.is-invalid]="useraddress.invalid && useraddress.touched">
                                    <small class="text-danger"
                                        [class.d-none]="useraddress.valid || useraddress.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control"
                                        placeholder="Confirmer le mot de passe *" name="ConfirmPassword"
                                        (ngModel)="user.password" required #userconfirmPassword="ngModel"
                                        [class.is-invalid]="userconfirmPassword.invalid && userconfirmPassword.touched">
                                    <!--<div style="margin-top: -4%; margin-bottom: 3%;" *ngIf="userconfirmPassword.valid || userconfirmPassword.touched">
                                    <small class="text-danger" *ngIf="(userconfirmPassword.value == userpassword.value) || userconfirmPassword.touched"><b>password not matched</b></small>
                                </div>-->
                                    <small class="text-danger"
                                        [class.d-none]="(userconfirmPassword.value == userpassword.value) || userconfirmPassword.untouched"><b>Le
                                            mot de passe n'est pas identique</b></small>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox" style="margin-top: -8%; margin-left: 11%;">
                            <small style="color: gray;"><input type="checkbox" class="checkbox" name="remember"
                                    required> J'accepte tous les termes et conditions</small>
                        </div>
                        <div
                            style="margin-top: -3%; margin-left: 58.5%; margin-bottom: 3%; color: rgb(0, 0, 0); font-size: 16px;">
                            Vous avez déjà un compte?
                            <small [routerLink]="['/login']"
                                style="color: navy; text-align: center; cursor: pointer;"><b>Cliquez ici</b></small>
                        </div>
                        <button [disabled]="userform.form.invalid" type="submit"
                            class="btnRegister">Inscription</button>
                    </form>
                </div>
                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3 class="register-heading">Inscription formateur</h3>
                    <small class="text-danger"><b>{{msg}}</b></small>
                    <form #professorform="ngForm" (ngSubmit)="registerProfessor()">
                        <div class="row register-form">
                            <div class="col-md-6">



                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="username *" name="username"
                                        [(ngModel)]="professor.username" required #username="ngModel"
                                        [class.is-invalid]="username.invalid && username.touched" pattern="[a-zA-Z0-9_-]{3,16}">
                                    <small class="text-danger"
                                        [class.d-none]="username.valid || username.untouched"><b>Champ
                                            obligatoire et doit etre unique et contient des chiffres et des</b></small>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom et prénom *" name="fullName"
                                        [(ngModel)]="professor.fullName" required #fullName="ngModel"
                                        [class.is-invalid]="fullName.invalid && fullName.touched">
                                    <small class="text-danger"
                                        [class.d-none]="fullName.valid || fullName.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email *" name="professoremail"
                                        [(ngModel)]="professor.email" required
                                        pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #email="ngModel"
                                        [class.is-invalid]="email.invalid && email.touched">
                                    <div *ngIf="email.errors && (email.invalid && email.touched)">
                                        <small class="text-danger" *ngIf="email.errors.required"><b>Champ
                                                obligatoire</b></small>
                                        <small class="text-danger" *ngIf="email.errors.pattern"><b>Email est
                                                invalid</b></small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Genre *" name="professorgender"
                                        [(ngModel)]="professor.gender" required #gender="ngModel"
                                        [class.is-invalid]="gender.invalid && gender.touched">
                                    <small class="text-danger"
                                        [class.d-none]="gender.valid || gender.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="tel" maxlength="8" minlength="8" class="form-control"
                                        placeholder="Télephone *" name="professormobile"
                                        [(ngModel)]="professor.phoneNumber" required #phoneNumber="ngModel"
                                        [class.is-invalid]="phoneNumber.invalid && phoneNumber.touched">
                                    <small class="text-danger"
                                        [class.d-none]="phoneNumber.valid || phoneNumber.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Mot de passe *" name="pwd"
                                        [(ngModel)]="professor.password" required #password="ngModel"
                                        [class.is-invalid]="password.invalid && password.touched">
                                    <div *ngIf="password.errors && password.invalid && password.touched">
                                        <small class="text-danger" *ngIf="password.errors.required"><b>Champ
                                                obligatoire</b></small>
                                    </div>
                                    <small style="color: gray; font-size: 10px;">au moins une majuscule, un chiffre
                                        numérique, une minuscule, un caractère spécial, d'une longueur de 6 à 20</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom d'institut *"
                                        name="institutionname" [(ngModel)]="professor.institutionname" required
                                        #institutionname="ngModel"
                                        [class.is-invalid]="institutionname.invalid && institutionname.touched">
                                    <small class="text-danger"
                                        [class.d-none]="institutionname.valid || institutionname.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Département *"
                                        name="department" [(ngModel)]="professor.department" required
                                        #department="ngModel"
                                        [class.is-invalid]="department.invalid && department.touched">
                                    <small class="text-danger"
                                        [class.d-none]="department.valid || department.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Année d'experience *"
                                        name="experience" [(ngModel)]="professor.experience" required
                                        #experience="ngModel"
                                        [class.is-invalid]="experience.invalid && experience.touched">
                                    <small class="text-danger"
                                        [class.d-none]="experience.valid || experience.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Diplome *"
                                        name="degreecompleted" [(ngModel)]="professor.degreecompleted" required
                                        #degreecompleted="ngModel"
                                        [class.is-invalid]="degreecompleted.invalid && degreecompleted.touched">
                                    <small class="text-danger"
                                        [class.d-none]="degreecompleted.valid || degreecompleted.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control"
                                        placeholder="Confirmer le mot de passe *" name="ConfirmPassword"
                                        (ngModel)="professor.confirmpassword" required #confirmpassword="ngModel"
                                        [class.is-invalid]="confirmpassword.invalid && confirmpassword.touched">
                                    <small class="text-danger"
                                        [class.d-none]="(confirmpassword.value == password.value) || confirmpassword.untouched"><b>Le
                                            mot de passe n'est correspond pas</b></small>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox" style="margin-top: -8%; margin-left: 11%;">
                            <small style="color: gray;"><input type="checkbox" class="checkbox" name="remember"
                                    required> J'accepte tous les termes et conditions</small>
                        </div>
                        <div
                            style="margin-top: -3%; margin-left: 58.5%; margin-bottom: 3%; color: rgb(0, 0, 0); font-size: 16px;">
                            Vous avez déjà un compte?
                            <small [routerLink]="['/login']"
                                style="color: navy; text-align: center; cursor: pointer;"><b>Cliquez ici</b></small>
                        </div>
                        <button [disabled]="false" type="submit" class="btnRegister">Inscription</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>