<div class="container">
  <!-- create-course.component.html -->

  <div class="create-course-form">
    <h2>Créer un cours</h2>
    <form (submit)="submitForm()">
      <div class="form-row">
        <div class="form-group">
          <label for="courseName">Nom du cours:</label>
          <input type="text" id="courseName" name="courseName" [(ngModel)]="course.courseName" required
            #courseName="ngModel">
          <span class="error-message" *ngIf="courseName.touched && courseName.invalid">Ce champ est requis.</span>
        </div>
        <div class="form-group">
          <label for="instructor">Instructeur:</label>
          <div class="custom-dropdown">
            <input type="text" id="instructorSearch" #searchInput placeholder="Rechercher un professeur"
              (click)="toggleDropdown()" (input)="filterProfessors(searchInput.value)">
            <ul class="dropdown-content" *ngIf="showDropdown">
              <li *ngFor="let professor of filteredProfessors" (click)="selectProfessor(professor)">
                <span>{{ professor.fullName }}</span>
              </li>
            </ul>
          </div>
          <!-- Add error message span here if needed -->
        </div>
        <div class="form-group">
          <label for="skillLevel">Niveau de compétence:</label>
          <select id="skillLevel" name="skillLevel" [(ngModel)]="course.skillLevel" required #skillLevel="ngModel">
            <option value="Débutant">Débutant</option>
            <option value="Intermédiaire">Intermédiaire</option>
            <option value="Avancé">Avancé</option>
          </select>
          <span class="error-message" *ngIf="skillLevel.touched && skillLevel.invalid">Ce champ est requis.</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="language">Langue:</label>
          <select id="language" name="language" [(ngModel)]="course.language" required #language="ngModel">
            <option value="francais">Français</option>
            <option value="anglais">Anglais</option>
          </select>
          <span class="error-message" *ngIf="language.touched && language.invalid">Ce champ est requis.</span>
        </div>
        <div class="form-group">
          <label for="instructorInstitution">Institution de l'instructeur:</label>
          <select id="instructorInstitution" name="instructorInstitution" [(ngModel)]="course.instructorInstitution"
            required #instructorInstitution="ngModel">
            <option value="ISI">ISI</option>
            <option value="ISG">ISG</option>
            <option value="ISET">ISET</option>
            <option value="ENSI">ENSI</option>
            <option value="ISAMM">ISAMM</option>
            <option value="Autre">Autre</option>
          </select>
          <span class="error-message" *ngIf="instructorInstitution.touched && instructorInstitution.invalid">Ce champ
            est requis.</span>
        </div>
        <div class="form-group">
          <label for="youtubeUrl">URL de YouTube:</label>
          <input type="text" id="youtubeUrl" name="youtubeUrl" [(ngModel)]="course.youtubeUrl" required
            #youtubeUrl="ngModel">
          <span class="error-message" *ngIf="youtubeUrl.touched && youtubeUrl.invalid">Ce champ est requis.</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="websiteUrl">URL du site Web:</label>
          <input type="text" id="websiteUrl" name="websiteUrl" [(ngModel)]="course.websiteUrl" required
            #websiteUrl="ngModel">
          <span class="error-message" *ngIf="websiteUrl.touched && websiteUrl.invalid">Ce champ est requis.</span>
        </div>
        <div class="form-group">
          <label for="language">Prix:</label>
          <select id="price" name="price" [(ngModel)]="course.price" required #price="ngModel">
            <option value="Gratuit">Gratuit</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
          </select>
          <span class="error-message" *ngIf="price.touched && price.invalid">Ce champ est requis.</span>
        </div>
        <div class="form-group">
          <label for="courseType">Type de cours:</label>
          <select id="courseType" name="courseType" [(ngModel)]="course.courseType" required #courseType="ngModel">
            <option value="enligne">En ligne</option>
            <option value="presentation">Présentation</option>
          </select>
          <span class="error-message" *ngIf="courseType.touched && courseType.invalid">Ce champ est requis.</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="courseType">Département:</label>
          <select id="department" name="department" [(ngModel)]="course.department" required #department="ngModel">
            <option value="IT">IT</option>
            <option value="GENIE LOGICIEL">GENIE LOGICIEL</option>
            <option value="GENIE MECANIQUE">GENIE MECANIQUE</option>
          </select>
          <span class="error-message" *ngIf="department.touched && department.invalid">Ce champ est requis.</span>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="full-width" id="description" name="description" [(ngModel)]="course.description" required
            #description="ngModel"></textarea>
          <span class="error-message" *ngIf="description.touched && description.invalid">Ce champ est requis.</span>
        </div>
      </div>
      <button type="submit">Soumettre</button>
    </form>
  </div>
</div>